<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body layout:fragment="mainContent">

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2 th:text="#{admin.adminPanel}"></h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a th:href="@{'/'}" th:text="#{nav.home}"></a></li>
                    <li th:text="#{admin.adminPanel}"></li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{'admin'}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3"> Logis Admin </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" >
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span th:text="#{admin.allRequests}"></span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{'/addNews'}" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span th:text="#{admin.addNews}"></span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" th:href="@{'/manageNews'}" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span th:text="#{admin.manageNews}"></span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="cont">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" th:text="#{admin.allOrders}"></h1>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-12" id="content">
                            </div>
                        </div>
                    </div>
                    <div id="content1">
                        <!-- Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="#{admin.editRequest}"></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <input type="hidden" id="requestId">
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="addresserName" disabled>
                                                <label class="form-label" th:text="#{admin.addresserName}"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="receiverName"disabled >
                                                <label class="form-label" th:text="#{admin.receiverName}"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="senderCity" disabled>
                                                <label class="form-label" th:text="#{admin.senderCity}"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="deliveryCity" disabled>
                                                <label class="form-label" th:text="#{admin.deliveryCity}"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="productName" disabled>
                                                <label class="form-label" th:text="#{admin.productName}"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="productType" disabled>
                                                <label class="form-label" th:text="#{admin.productType}"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="transportType" disabled>
                                                <label class="form-label" th:text="#{admin.transportType}"></label>
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="requestPrice" disabled>
                                                <label class="form-label" th:text="#{admin.requestPrice}"></label>
                                            </div>
                                            <div class="col-12">
                                                <select class="form-control" id="requestStatus">
                                                    <option value="INPROCESS">INPROCESS</option>
                                                    <option value="SENT">SENT</option>
                                                    <option value="DELIVERED">DELIVERED</option>
                                                </select>
                                                <label class="form-label" th:text="#{admin.requestStatus}"></label>
                                            </div>
                                            <div id="assignedManagers">
                                            </div>
                                            <div class="col-12">
                                                <label class="form-label" th:text="#{admin.managers}"></label>
                                                <div id="managersList">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{admin.close}"></button>
                                        <button type="button" id="requestUpdateSubmit" class="btn btn-primary" th:text="#{admin.saveChanges}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</main><!-- End #main -->
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">
<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
<script th:src="@{'admin-page.js'}"></script>
<script th:src="@{'update-request-by-admin.js'}"></script>

</body>


</html>